{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block content %}

<h1> Turon Boyd </h1>

    <!-- Assignment 3 -->
    <section class="about-section center-row">

        <div class="about-image-container center-row">
            <img src="./img/logo.png" alt="logo">
        </div>

        <div class="about-desciption-container center-column">

            <h1> My Role as Developer</h1>
            <h2>My Name Here</h2>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint hic eius minus, ratione nobis delectus itaque non dolorem libero quos. Ad enim magni praesentium labore ut quos corporis laboriosam ipsam!
            </p>

            



            <div class="skills-container center-column">
                <h2>Skills</h2>

            <div class="skills-list center-row">
                <label class="text-label">Skills</label>
                <label class="text-label">Skills</label>
                <label class="text-label">Skills</label>
                <label class="text-label">Skills</label>
                <label class="text-label">Skills</label>
                <label class="text-label">Skills</label>
                <label class="text-label">Skills</label>
                <label class="text-label">Skills</label>
                <label class="text-label">Skills</label>
                <label class="text-label">Skills</label>
            </div>
            </div>
        </div>
    </section>


{% endblock content %}
