{% extends 'base.html' %}

{% block title %} About {% endblock title %}
{% load static %}

{% block content %}


<h1> Turon Boyd </h1>

    <!-- About Section -->
    <section class="about-section center-row">
        <div class="center-row">
            <img src="./img/logo.png" alt="Logo">
        </div>

        <div class="center-column">
            <h1>My Role as a Developer</h1>
            <h2>My Name Here</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint hic eius minus, ratione nobis delectus itaque non dolorem libero quos. Ad enim magni praesentium labore ut quos corporis laboriosam ipsam!
            </p>
            <p>
                Laboriosam a porro corrupti, veniam labore, nam ex sint delectus soluta, vitae eveniet fugiat doloremque maiores alias veritatis quasi iure dolorum molestias debitis quam voluptatum dicta consequatur.
            </p>
        </div>
    </section>

    <!-- Skills Section -->
    <section class="center-column">
        <h2>Skills</h2>
        <div class="center-row">
            <label>HTML</label>
            <label>CSS</label>
            <label>JavaScript</label>
            <label>Python</label>
        </div>
    </section>


{% endblock content %}
