{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block content %}

<h1> Turon Boyd </h1>

<!-- About Section -->
<section class="about-section center-row">

    <div class="center-column">
        <h1>My Role as a Developer</h1>
        <h2>Turon Boyd</h2>
        <p>
            I am a passionate developer with a focus on creating user-friendly and efficient web applications. My journey into coding started with a curiosity about how technology can solve everyday problems, and now, I aim to build solutions that improve people's lives.
        </p>
        <p>
            I specialize in front-end and back-end development, working with technologies such as HTML, CSS, JavaScript, and Python to deliver clean and responsive designs. I'm always looking for ways to learn and grow as a developer, embracing new challenges along the way.
        </p>
    </div>
</section>

<!-- Skills Section -->
<section class="center-column">
    <h2>Skills</h2>
    <div class="center-row">
        <label>HTML</label>
        <label>CSS</label>
        <label>JavaScript</label>
        <label>Python</label>
    </div>
</section>

{% endblock content %}
