{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% load static %}

{% block content %}
<section class="contact-section center-column">
    
    <form id="emailForm" action="." class="center-column">
        <h1> Contact Us </h1>
        <h2>Use the form below to say <span> Hi! </span> </h2>

        {% csrf_token %}

        {{ form.name }}
        {{ form.email }}
        {{ form.message }}

        <button class="primary-button">Send message</button>
    </form>

</section>
{% endblock %}
