{% extends 'base.html' %}

{% block title %} Experience {% endblock title %}

{% load static %}

{% block content %}

<section class="experience-section center-column">
    <h2>Experience</h2>

    <div class="experience-list center-row">

    {% for experience in experiences %}

        <div class="experience-card">
            <h3>{{ experience.name }}</h3>
            <p>{{ experience.description }}</p>
            <p>Year: {{ experience.year }}</p>

            <div class="experience-skills">

                <p>Skills</p>

                {% for skill in experience.skills.all %}
                
                    <label class="text-label">{{ skill.name }}</label>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    </div>

</section>

{% endblock content %}
