/* Styling for hamburger menu spans */
.hamburger span {
    display: block;
    height: 3px;
    width: 30px;
    background-color: var(--neutral-color);
    margin: 6px auto;
}

/* Toggle Function */
input:checked + .nav-options {
    height: 0;
    overflow: hidden;
}

.nav-options {
    height: auto;
    overflow: auto;
}

/* Header Styling */
header {
    height: max-content;
    display: flex; /* Added to enable flexbox */
    flex-direction: column;
    padding: 2%;
}

.logo {
    width: 100%;
}

.nav-options {
    display: flex; /* Added to enable flexbox */
    flex-direction: column;
    width: 100%;
}

.nav-options a {
    margin: 1rem;
}

/* Media Queries for Responsive Design */
@media (max-width: 1007px) {
    html {
        font-size: 12px;
    }
    
    .about-section {
        display: flex; /* Added for layout control */
        flex-direction: column;
    }

    .about-image-container {
        width: 100%;
    }

    .about-image-container img {
        width: 30%;
    }

    .about-description-container {
        width: 100%;
        margin-top: 2rem;
    }

    .project-card {
        width: 100%;
    }

    .project-card img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
        object-position: center 75%;
    }

    .project-card a {
        width: 100%;
    }
}
