{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" crossorigin="anonymous" rel="preconnect">
    <link 
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=Lobster+Two:ital,wght@0,700;1,400&display=swap" 
    rel="stylesheet">
    
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/section.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">


    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header class="center-row">

        <!-- Left Section -->
        <div class="logo center-row">
            <a href="">
                <h2>Turon Boyd</h2>
            </a>     
        </div>

        <!-- Right Section -->
        <nav class="nav-menu">

            <!-- Hamburger Button -->
            <input type="checkbox" id="checkBox">

            <div class="hamburger-btn">
                <label for="checkBox">
                    <span></span>
                    <span></span> 
                    <span></span>
                </label>
            </div>

            <!-- Menu Options -->
            <div class="nav-options center-row">
                <a href="{% url 'about' %}">About Me</a>
                <a href="{% url 'projects_list' %}">Projects</a>
                <a href="{% url 'experience_list' %}">Experience</a>
                <a href=#>Contact Me</a>
            </div>
            
        </nav>

    </header>
    
    {% block content %}

    {% endblock content %}

    <h2> Here is the footer </h2>
</body>
</html>